* {
  outline: solid 1px hotpink;
}

.pricing-plan {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 1rem;
}

.pricing-plan-title {
  grid-column: 1 / span 5;
  text-align: center;
  text-wrap: balance;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 600;
}

.pricing-plan-description {
  grid-column: 1 / span 5;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  text-wrap: balance;
  line-height: 1.4;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .pricing-plan-title,
  .pricing-plan-description {
    grid-column: 2 / span 3;
  }
}
