/* {
  outline: solid 1px hotpink;
}*/

.pricing-plan {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.pricing-plan-title {
  grid-column: 1 / span 5;
  text-align: center;
  text-wrap: balance;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 600;
}

.pricing-plan-description {
  grid-column: 1 / span 5;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  text-wrap: balance;
  line-height: 1.4;
  font-weight: 500;
}

.pricing-cards-container {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-areas:
    ". card1 card2 card3 ."
    ". card1 card2 card3 ."
    ". card1 card2 card3 ."
    ". card1 card2 card3 ."
    ". card1 card2 card3 .";
}

.pricing-card:nth-child(1) {
  grid-area: card1;
}

.pricing-card:nth-child(2) {
  grid-area: card2;
}

.pricing-card:nth-child(3) {
  grid-area: card3;
}

.pricing-card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 5;
  border: 1px solid #ececec;
  border-radius: 1.2rem;
  text-align: left;
  padding: 2rem;
  background-color: #f7f7f7;
}

.plan-name {
  font-size: 1.6rem;
  font-weight: 500;
}

.plan-description {
  line-height: 1.4;
}

.plan-price {
  font-size: 2.2rem;
}

.card-features > * {
  margin-top: 0.4rem;
}

.feature {
  display: flex;
  align-items: baseline;
  gap: 0.8rem;
  line-height: 1.4;
}

.fa-check {
  padding: 0.2rem;
  color: #94d2bd;
}

.buy-button {
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  background-color: #daf1e6;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .pricing-plan-title,
  .pricing-plan-description {
    grid-column: 2 / span 3;
  }
}
